services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL_ARG: "http://backend:8000"
    container_name: insta_poster_frontend
    ports:
      - "3000:80"
    restart: unless-stopped
